.check {
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #fff;
}
.check__input {
	cursor: pointer;
	appearance: none;
	width: em(18);
	height: em(18);
	margin-right: em(8);
	border-radius: rem(1);
	color: inherit;
	border: em(1.8) solid $accentColor;
	&:checked {
		background-color: $accentColor;
		background-image: url("@img/iconsfont/check.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: rem(10);
	}
	&:disabled {
		cursor: inherit;
	}
}
