.form {
	display: grid;
	&.form--black {
		.form__button {
			margin-left: 0;
			@media (max-width: $mobileSmall) {
				transform: translate(0, 50%);
			}
		}
		.form__check {
			margin-bottom: rem(55);
		}
		@media (min-width: $mobile) {
			.form__body {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: rem(35);
			}
			.form__label span {
				color: rgba($mainColor, 0.5);
			}
			.form__input::placeholder {
				color: $mainColor;
			}
			.form__item {
				border-bottom: 1px solid rgba($mainColor, 0.3);
				&:not(:last-child) {
					margin-bottom: 0;
					margin-right: rem(45);
				}
			}
			.form__button {
				padding: 0 rem(60);
				border-radius: rem(2);
			}
			.form__check {
				color: $mainColor;
				justify-content: center;
				margin-bottom: 0;
			}
		}
	}
	// .form__body
	&__body {
		margin-bottom: rem(16);
	}
	// .form__item
	&__item {
		padding-bottom: rem(10);
		border-bottom: 1px solid rgba(#fff, 0.15);
		&:not(:last-child) {
			margin-bottom: rem(45);
		}
	}
	// .form__label
	&__label {
		display: grid;
		span {
			font-size: rem(15);
			line-height: math.div(15, 20);
			color: rgba(#fff, 0.5);
			margin-bottom: em(7, 15);
		}
	}
	// .form__input
	&__input {
		color: inherit;
		font-weight: 700;
		font-size: rem(18);
		line-height: math.div(24, 18);
		background-color: transparent;
		&::placeholder {
			color: #fff;
		}
		@media (max-width: $mobile) {
			font-size: rem(16);
		}
	}
	// .form__check
	&__check {
		margin-bottom: rem(38);
	}
	// .form__button
	&__button {
		padding: 0 rem(50);
		min-height: rem(50);
		@media (min-width: $mobileSmall) {
			margin-left: auto;
		}
	}
}

@import "button";
// @import "input";
@import "checkbox";
// @import "radio";
// @import "select";
// @import "rating";
// @import "quantity";
// @import "range";
