.logo {
	// .logo__text
	&__text {
		z-index: 5;
		position: relative;
		font-size: rem(14);
		line-height: math.div(16, 14);
		text-transform: uppercase;
		font-weight: 700;
		color: $accentColor;
		white-space: nowrap;
	}
}
.section-title {
	font-family: "YesevaOne";
	@include adaptiveValue("font-size", 27, 22);
	line-height: math.div(37, 27);
	color: $accentColor;
	text-transform: uppercase;
	letter-spacing: -0.07em;
}
