//========================================================================================
.hero {
	display: flex;
	position: relative;
	min-height: 100vh;
	background-image: url("@img/hero/hero-cover.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: $mobileSmall) {
		min-height: rem(536);
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.7);
	}
	// .hero__container
	&__container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		@media (min-width: $mobile) {
			padding-left: rem(105);
			@media (min-width: $tablet) {
				padding-left: rem(135);
			}
		}
		@media (max-width: $mobileSmall) {
			justify-content: flex-end;
		}
	}
	// .hero__body
	&__body {
		z-index: 5;
		position: relative;
		padding-top: rem(100);
		padding-bottom: rem(100);
		color: #fff;
		@media (max-width: $mobileSmall) {
			padding-bottom: rem(60);
		}
	}
	// .hero__title
	&__title {
		font-family: "YesevaOne";
		@include adaptiveValue("font-size", 40, 24);
		line-height: math.div(53, 40);
		text-transform: uppercase;
		margin-bottom: em(19, 40);
		max-width: em(450, 40);
		span {
			color: $accentColor;
		}
	}
	// .hero__text
	&__text {
		max-width: rem(504);
		@include adaptiveValue("font-size", 22, 18);
		line-height: math.div(29, 22);
		margin-bottom: em(40, 22);
	}
	// .hero__actions
	&__actions {
		display: flex;
		align-items: center;
		@media (max-width: $mobileSmall) {
			flex-wrap: wrap;
		}
	}
	// .hero__button
	&__button {
		border-radius: rem(2);
		padding: 0 rem(40);
		min-height: rem(50);
		&:first-child {
			margin-right: rem(20);
			padding: 0 rem(26);
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(24);
			}
		}
		&:last-child {
			transition: color 0.3s, background-color 0.3s;
			border: rem(1) solid #fff;
			@media (any-hover: hover) {
				&:hover {
					color: $darkColor;
					background-color: #fff;
				}
			}
		}
		@media (max-width: $mobileSmall) {
			flex: 0 0 100%;
			border-radius: 0;
		}
	}
	// .hero__left
	&__left {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		width: rem(90);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $accentColor;
		background-color: $darkColor;
		transition: width 0.3s;
		@media (max-width: $tablet) {
			width: rem(60);
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .hero__instagram
	&__instagram {
		position: relative;
		font-size: rem(14);
		line-height: math.div(16, 14);
		text-transform: uppercase;
		writing-mode: vertical-rl;
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				&::after {
					background-color: #fff;
				}
			}
		}
		&::after {
			content: "";
			display: inline-block;
			width: rem(2);
			height: rem(50);
			margin-top: rem(8);
			background-color: $accentColor;
			transition: background-color 0.3s;
		}
	}
	// .hero__bottom
	&__bottom {
		z-index: 5;
		position: absolute;
		left: 0;
		bottom: 0;
		width: rem(247);
		height: rem(97);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(15);
		color: #fff;
		background-color: $darkColor;
		transition: height 0.3s;
		span {
			text-align: center;
			font-family: "YesevaOne";
			font-size: rem(12);
			line-height: math.div(16, 12);
			text-transform: uppercase;
			margin-right: rem(12);
		}
		@media (max-width: $tablet) {
			height: rem(80);
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .hero__arrow
	&__arrow {
		flex: 0 0 rem(29);
		width: rem(29);
		height: rem(29);
		color: $accentColor;
		font-size: rem(10);
		border-radius: 50%;
		border: rem(2) solid $accentColor;
	}
}
//========================================================================================
.projects {
	color: #fff;
	background-color: $darkColor;
	// .projects__container
	&__container {
		@media (min-width: $tablet) {
			display: grid;
			@include adaptiveValue("column-gap", 130, 0);
			grid-template-columns: 1fr percent(680, 1236);
		}
	}
	// .projects__content
	&__content {
		min-width: 0;
		@media (max-width: $tablet) {
			margin-bottom: rem(32);
		}
	}
	// .projects__title
	&__title {
		margin-bottom: em(34, 27);
		span {
			display: block;
			&:last-child {
				display: flex;
				align-items: center;
				position: relative;
				&::after {
					content: "";
					display: inline-block;
					width: rem(92);
					height: rem(1);
					margin-left: rem(30);
					background-color: $accentColor;
				}
			}
		}
	}
	// .projects__text
	&__text {
		font-size: rem(18);
		line-height: math.div(28, 18);
		margin-bottom: em(50, 18);
	}
	// .projects__gallery
	&__gallery {
		min-width: 0;
	}
}
.projects-slider-content {
	// .projects-slider-content__swiper
	&__swiper {
		@include adaptiveValue("margin-bottom", 85, 40);
	}
	// .projects-slider-content__controls
	&__controls {
		display: flex;
		align-items: center;
		@media (max-width: $mobileSmall) {
			justify-content: center;
		}
	}
	// .projects-slider-content__arrow
	&__arrow {
		transition: color 0.3s;
		&:not(.projects-slider-content__arrow--disabled) {
			@media (any-hover: hover) {
				&:hover {
					color: $accentColor;
				}
			}
		}
	}
	// .projects-slider-content__bullet
	&__bullet {
		cursor: pointer;
		width: rem(10);
		height: rem(10);
		border-radius: 50%;
		background-color: rgba(#fff, 0.3);
		transition: background-color 0.3s;
		&:not(:last-child) {
			margin-right: rem(18);
		}
		&.projects-slider-content__bullet--active {
			background-color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #fff;
			}
		}
	}
	// .projects-slider-content__arrow--left
	&__arrow--left {
		transform: rotate(-180deg);
	}
	// .projects-slider-content__arrow--disabled
	&__arrow--disabled {
		cursor: not-allowed;
		color: #555;
	}
	// .projects-slider-content__pagging
	&__pagging {
		display: flex;
		align-items: center;
		margin: 0 rem(30);
	}
}
.slide-projects-content {
	display: grid;
	gap: rem(40) rem(30);
	grid-template-columns: repeat(2, auto);
	justify-content: start;
	word-break: break-all;
	// .slide-projects-content__title
	&__title {
		font-family: "YesevaOne";
		font-size: rem(18);
		line-height: math.div(24, 18);
		color: $accentColor;
		text-transform: uppercase;
		margin-bottom: em(5, 18);
		@media (max-width: $mobileSmall) {
			font-size: rem(15);
		}
	}
	// .slide-projects-content__info
	&__info {
		font-size: rem(15);
		line-height: math.div(20, 15);
		span {
			display: block;
		}
	}
}
.projects-slider-gallery {
	@media (max-width: $mobileSmall) {
		margin: 0 rem(-15);
	}
	// .projects-slider-gallery__slide
	&__slide {
		padding-bottom: percent(482, 680);
	}
}
//========================================================================================
.control {
	@media (max-width: $mobile) {
		color: #fff;
		background-color: $darkColor;
	}
	// .control__heading
	&__heading {
		margin-bottom: rem(30);
	}
	// .control__body
	&__body {
	}
	// .control__video
	&__video {
		position: relative;
		max-width: rem(817);
		margin-left: auto;
		margin-right: auto;
		@include adaptiveValue("padding-bottom", 434, 207);
		@include adaptiveValue("margin-bottom", 100, 50);
		box-shadow: 0px 20px 50px 0px #00000026;
		&::before {
			z-index: 1;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.8);
		}
		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			margin-left: rem(-15);
			margin-right: rem(-15);
		}
	}
	// .control__play
	&__play {
		z-index: 5;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include adaptiveValue("width", 85, 45);
		@include adaptiveValue("height", 85, 45);
		border-radius: 50%;
		@include adaptiveValue("font-size", 21, 12);
		color: #fff;
		box-shadow: 0px 5px 30px 0px #e3b87333;
		background-color: $accentColor;
		transition: box-shadow 0.3s, background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: none;
				background-color: rgba($accentColor, 0.8);
			}
		}
	}
	// .control__text
	&__text {
		text-align: center;
		max-width: rem(571);
		margin-left: auto;
		margin-right: auto;
		position: relative;
		@include adaptiveValue("font-size", 20, 14);
		line-height: math.div(33, 20);
		margin-bottom: em(55, 20);
		&::before {
			content: "";
			position: absolute;
			top: rem(-34);
			left: 50%;
			width: rem(55);
			height: rem(2);
			transform: translate(-50%, 0);
			border-radius: rem(1);
			background-color: $accentColor;
		}
		@media (max-width: $mobile) {
			&::before {
				content: "";
				top: rem(-20);
			}
		}
	}
}
//========================================================================================
.repair {
	// .repair__heading
	&__heading {
		margin-bottom: rem(30);
	}
}
//========================================================================================
.features {
	@media (max-width: $mobile) {
		display: none;
	}
	// .features__body
	&__body {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding-right: rem(15);
		@media (min-width: $pc) {
			margin-right: calc((100% - 1236px) / 2);
		}
	}
	// .features__content
	&__content {
		@include adaptiveValue("margin-right", 130, 40);
	}
}
.content-features {
	position: relative;
	&::after {
		z-index: 5;
		content: "";
		position: absolute;
		top: rem(55);
		left: rem(-42);
		width: 100%;
		height: rem(636);
		background-image: url("@img/features/circle.svg");
		background-position: center;
		background-repeat: no-repeat;
	}
	// .content-features__list
	&__list {
		counter-reset: item;
	}
	// .content-features__item
	&__item {
		display: flex;
		align-items: center;
		&:before {
			counter-increment: item;
			content: counter(item, decimal-leading-zero);
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 rem(40);
			width: rem(40);
			height: rem(40);
			border-radius: 50%;
			margin-right: em(17, 18);
			font-family: "YesevaOne";
			font-size: rem(18);
			line-height: math.div(24, 18);
			color: #fff;
			background-color: $accentColor;
		}
		position: absolute;
		&:nth-child(1) {
			top: rem(118);
			right: rem(-69);
			max-width: rem(418);
		}
		&:nth-child(2) {
			top: rem(230);
			right: rem(71);
			max-width: rem(210);
		}
		&:nth-child(3) {
			bottom: rem(216);
			right: rem(-9);
			max-width: rem(266);
		}
		&:nth-child(4) {
			bottom: rem(53);
			right: rem(-36);
			max-width: rem(355);
		}
	}
	// .content-features__text
	&__text {
		font-size: rem(18);
		line-height: math.div(20, 18);
		font-weight: 700;
	}
}
.callback-features {
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: rem(506);
	@media (max-width: $pc) {
		flex-basis: percent(506, 1236);
	}
	// .callback-features__modal
	&__modal {
		@include adaptiveValue("padding-top", 25, 15);
		@include adaptiveValue("padding-right", 50, 20);
		@include adaptiveValue("padding-bottom", 25, 15);
		@include adaptiveValue("padding-left", 50, 20);
		background-color: $darkColor;
		margin-bottom: rem(38);
		box-shadow: 0px 30px 30px 0px #0000000d;
	}
	// .callback-features__title
	&__title {
		max-width: rem(297);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: rem(20);
		font-weight: 700;
		line-height: math.div(24, 20);
		margin-bottom: em(35, 20);
		color: #fff;
	}
	// .callback-features__saving
	&__saving {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .callback-features__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 rem(72);
		width: rem(72);
		height: rem(72);
		border-radius: 50%;
		background-color: $accentColor;
		box-shadow: 0px 10px 20px 0px #edc07833;
		margin-right: rem(25);
	}
	// .callback-features__info
	&__info {
		font-size: rem(20);
		line-height: math.div(24, 20);
		font-weight: 700;
		color: $accentColor;
	}
}
//========================================================================================
.styles {
	position: relative;
	color: #fff;
	@media (min-width: $mobileSmall) {
		background-image: url("@img/styles/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
		}
		@media (max-width: em(1100)) {
			padding: rem(50) 0;
		}
	}
	// .styles__container
	&__container {
	}
	// .styles__body
	&__body {
		z-index: 5;
		position: relative;
		@media (min-width: em(1100)) {
			display: grid;
			column-gap: rem(40);
			align-items: center;
			justify-items: end;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			margin: 0 rem(-15);
		}
	}
	// .styles__content
	&__content {
		@media (min-width: em(1100)) {
			padding: rem(60) 0;
		}
	}
	// .styles__title
	&__title {
		margin-bottom: em(48, 27);
		@media (max-width: em(1100)) {
			text-align: center;
		}
	}
	// .styles__list
	&__list {
		display: grid;
		justify-items: start;
		@media (max-width: em(1100)) {
			display: none;
		}
	}
	// .styles__item
	&__item {
		&:not(:last-child) {
			margin-bottom: em(20, 20);
		}
	}
	// .styles__link
	&__link {
		position: relative;
		font-size: rem(20);
		line-height: math.div(34, 20);
		padding-bottom: rem(5);
		transition: color 0.3s;
		&:not(:last-child) {
			margin-bottom: em(25, 20);
		}
		&::after {
			content: "";
			display: block;
			width: 0;
			height: rem(2);
			background-color: $accentColor;
			transition: width 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
				&::after {
					width: 100%;
				}
			}
		}
	}
}
.gallery-styles {
	display: grid;
	align-items: center;
	@include adaptiveValue("gap", 40, 15);
	grid-template-columns: repeat(2, 1fr);
	@media (min-width: em(1100)) {
		grid-template-columns: repeat(2, rem(354));
		max-height: rem(864);
	}
	@media (max-width: $mobileSmall) {
		grid-template-columns: 1fr;
	}
	// .gallery-styles__column
	&__column {
		display: grid;
		@include adaptiveValue("gap", 40, 15);
		@media (min-width: em(1100)) {
			&:first-child {
				transform: translate(0, rem(-40));
			}
			&:last-child {
				transform: translate(0, rem(-120));
			}
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}
	// .gallery-styles__image
	&__image {
		display: block;
		overflow: hidden;
		img {
			transition: transform 0.3s;
		}
		@media (min-width: $mobileSmall) {
			&.gallery-styles__image--one {
				padding-bottom: percent(557, 354);
			}
			&.gallery-styles__image--two {
				padding-bottom: percent(349, 354);
			}
			&.gallery-styles__image--three {
				padding-bottom: percent(275, 354);
			}
			&.gallery-styles__image--four {
				padding-bottom: percent(625, 354);
			}
		}
		@media (max-width: $mobileSmall) {
			@include adaptiveValue("padding-bottom", 484, 242);
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.025);
				}
			}
		}
	}
}
//========================================================================================
.design {
	// .design__heading
	&__heading {
		margin-bottom: rem(40);
		.heading__icon {
			margin-bottom: rem(23);
		}
	}
	// .design__body
	&__body {
		@media (min-width: $tablet) {
			.item-card__body {
				flex: 0 0 auto;
			}
		}
	}
}
//========================================================================================
